body {
	background-image: url("../images/space.gif");
}

.row {
	align-content: center;
}

h1, h2, h3, h4, h5 {
	color: white;
}

button {
	color: blue;
}

img {
	height: 100px;
}

.charImg {
	float: left;
	margin: 10px;
	background-color: white;
	padding: 10px;
}

p {
	text-align: center;
	font-size: 16px;
}

h5 {
	clear: both;
	font-size: 16px;
}

.selectedChar {
	background-color: green;
	border: 3px solid black;
	color: white;
}

.selectedDef {
	background-color: black;
	color: white;
	border: 3px solid green;
}