img {
	height: 100px;
}

.charImg {
	float: left;
	margin: 10px;
	border: solid 1px;
}

p {
	text-align: center;
}

h5 {
	clear: both;
	font-size: 16px;
}

.selectedChar {
	background-color: white;
	border: 1px solid green;
}

.availableEnemies {
	background-color: red;
	border: 1px solid black;
}

.selectedDefender {
	background-color: black;
	color: white;
	border: 1px solid green;
}